*{
    box-sizing: border-box;
}
html{
    font-size: 70.5%;
}
body{
    background-image:url(https://media.licdn.com/dms/image/C4D0BAQGZA0iDKfqQvg/company-logo_200_200/0/1669039811958?e=2147483647&v=beta&t=RRBUIXWWN669K0ThVZO3Q2feaK_nt_se4A6ZHZhNlE4)
}
.container{
    height: 100vh;
    width: 70vh;
    margin: 2rem auto;

}
.container h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem; 
}
.input-container{
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;

}
.icon{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}
.input-field{
    width: 100%;
    padding: 10px;
    outline: none;
}
.addBtn{
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    width: 100%;
    opacity: 0.9;
}
.addBtn:hover{
    opacity:1 ;
    cursor: pointer;
}
.listContact{
   display: flex;
   flex-direction: column;
}
.Contact{
    
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3;
}
.btnDelete{
    color: tomato;
    cursor: pointer;
}